body {
  background: rgb(58, 58, 87);
}
li,
.navbar-brand {
  font-family: "Georgia";
}
h4,
h6 {
  font-family: "Georgia";
  color: rgb(35, 35, 61);
  text-align: center;
}
.btn-link {
  font-family: "Georgia";
  text-align: center;
}
header {
  margin-bottom: 5em;
}
h1,
p,
h3,
h5 {
  color: white;
  font-family: Georgia;
}
.darkButton {
  background: black;
  color: lightgray;
  font-family: Georgia;
}
.containerPad {
  margin: 100px, 100px;
}
.artCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}
body {
  padding-top: 70px;
}
.styledForm {
  background: lightgray;
  font-family: Georgia;
  color: black;
}
